{
    "compiler": "component",
    "name": "QApp-{{prefix}}{{name}}",
    "version": "{{version}}",
    "author": "adwon.lin",
    "email": "adwon.lin@qunar.com",
    "description": "{{desc}} for QApp",
    "repository": "git@gitlab.corp.qunar.com:qapp/qapp.git",
    "dependencies": {},
    "main": "src/index.js"
}
